option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    CORS_ALLOWED_ORIGINS: http://localhost:3000
    GEMINI_API_KEY: AIzaSyAIzCdG8bGQr1-sRYoGbl7qU8FJJ2aBquY
    DATA_DIR=/var/app/current/data
    CORS_ALLOWED_METHODS=GET,POST,OPTIONS,PUT,DELETE
    CORS_ALLOWED_HEADERS=Content-Type,Authorization
    CORS_SUPPORTS_CREDENTIALS=true

  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
