# .ebextensions/01_storage.config
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_create_dirs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkdir -p /var/app/current/data/MMAforays
      mkdir -p /var/app/current/data/uploads
      chown -R wsgi:wsgi /var/app/current/data

